*{
    margin: 0;
	padding: 0;
}
/* ELEMENTOS COMUNES */
body{
	overflow-x: hidden;
	font-family: Mulish,sans-serif;
}
html{
	font-size: 62.5%;
}
.header {
    height: 100px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    padding: 1rem;
    position: relative;
	background-color: #EFF48E;
	width: 100%;
}
.header__contenedor {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;	
}
.navbar {
	display: flex;
	justify-content: flex-end;
	
	

}

.navBotones {
	display: flex;
	
}
.nav__lista {
	display: flex;
	justify-content: stretch;
	font-size: 2rem;
	margin-top: 1 rem;
	align-items:center;
	text-decoration: none;
	

}
.nav__item {
		margin-left: 1rem;
		margin-right: 1rem;
		text-decoration: none;
		position: relative;
		

}
/* 	ANIMACIONES NAV */
.nav__item a::after {
	content:"";
	position: absolute;
	top:100%;
	width:100%;
	left:0%;
	height:3px;
	background-color: #2EC1AC;
	transform: scaleX(0);
	transform-origin:right ;
	transition: transform 0.5s;
}
	
.nav__item a:hover {
	/* background:#D2E603; */
	color: #3E978B;
	border-radius: 6px;
	text-decoration: none;
	
  }
.nav__item a:hover::after{
	  transform: scaleX(1);
	  transform-origin: left;
  }
  
.logo {
	
	height: 62px;
    width: 62px;
}
.logo img {
	height: 100%;
	width: 100%;
	box-sizing:unset;
}

#logoVerde{
	background-color: #D2E603;
	border-radius: 100px;
}
.logoLink {
	height: 100%;
	
}
.logo a:hover {
	background:#EFF48E ;
	border-radius: 10px;
	
  }
.nav__lista li {
	list-style-type: none;
	font-size: 2,5rem;
   font-family: Mulish;
   font-weight: 200;
   margin-left: 1 rem;
   /* margin-right: 1rem; */
   text-decoration: none;

  
}
ul {
   list-style: none; /* truco por el uso de inline-block*/
}

.btn {
   font-size: 2rem;
   margin: 5px 5px 5px 5px;
   /*top: 1 rem;   */
   /* left: 2 rem; */
   border-radius: 6px;
   padding: 8px ;
   font-family: Mulish;
   font-weight: 500;
   margin-right: 1rem;
   margin-left: 1 rem;
   background-color:#2EC1AC; 
   /* border-color:#3E978B */;
   color: #fff;
   box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
   border-color:#2EC1AC;
}
.btn:hover {
	color: #fff !important;
	background-color:#3E978B;
	border-color: #3E978B;
	color: #fff;
  }
.nav__enlace {
    color: #2EC1AC;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    display: inline-block;
	font-family: Mulish, sans-serif;
	font-weight: 500;
}
.nav__enlace--activo {
    background-color: #2ec1ab59;
    color: #fff;
    border-radius: 3px;
	padding: 3px;
	text-decoration: none;
}
/* Menu Lateral */

.btn-open-sidebar {
    display: none;
}

.nav__item--oculto {
    display: none;
}

/* Fin Menu lateral */
.footer {
	background-color: #EFF48E;
	position: relative;	
	left: 0;
    bottom: 0;
    width: 100%;
	height: 100%;
	padding: 1rem;
	/* box-sizing: unset; */
}
.footer__contenedor {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footerBackground p {
	font-size: 3rem;

}
h3 {
	font-weight: normal;
}
.footer__iconos{
	display: inline-block;

}
footer a {
	color: #2EC1AC;
}
.iconFooter {
	font-size: 300%;
}
main {
	min-height: 100vh;
}
/* INICIO */
.principal {
	background-image: url(./images/landing_inicio.svg) ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	display: flex;
	/* max-width: 1400px; */
    margin: 0 auto; 
    justify-content: center;
    align-items: center;
	align-content:center ;
    position: relative;
	padding: 1rem 1rem;
	min-height: 90vh;
	width: 100%;
}
.principal__titulos{ 
	margin-left: 20px;
	position: absolute;
	/* top: 50%; */
	
	
}
.h1__default{ 
	font-size: 400%;  /*modifica tamaño tipografico */
	font-weight:700; 
	letter-spacing: 0.2rem;
	color:#3E978B;
	/* text-transform: uppercase; */
	margin-bottom: 1rem;
	animation: texth2 2s 1 0.5s;
}
.h2__default { 
	font-size: 200%;
	font-weight:normal; 
	
	margin-bottom: 2rem;  /*modifica tamaño tipografico */

}
h1, h2, h3, h4, h5, h6 {
	font-family: Mulish;/* modifica familia tipografica*/ 
	text-align: left;
}
/* animaciones de títulos */
@keyframes texth2 {
	0%{
		color:#3E978B;
		margin-bottom: -10px;
	}
	30%{
		letter-spacing: 1rem;
		margin-bottom: -10px;
	}
	85%{
		letter-spacing:0.5 rem ;
		margin-bottom: 10px;
	}
}
#h1__bold{
	font-weight:900;
	text-transform: uppercase;
}
.principal__imagen {
    display: flex;
    justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 1200px;
    /* background-repeat: no-repeat;  */
    margin: 0 auto;
	object-fit: cover;
}
.carousel__inicio{
	background-color: #2ec1ab98;
	/* position: absolute; */
	top:50%;
	min-height: 25vh;
}
.sectionSecond { 
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
	
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	background-image: url("./images/landing_inicioclases.svg");
	/* Set a specific height */
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	position: relative;
	padding: 100px 1rem;
	min-height: 80vh;
	width: 100%;
}
.index__img--second{
	width: 75%;
	height: 75%;
	position: relative;
	left: 10%;
	

}
.container__img{
	position: relative;
}
.bttnSection{
font-size: 2rem;
   margin: 20px 20px 5px 20px;
   /*top: 1 rem;   */
   /* left: 2 rem; */
   border-radius: 6px;
   padding: 8px ;
   font-family: Mulish;
   font-weight: 500;
   margin-right: 1rem;
   margin-left: 1 rem;
   /* display: flex */;
}

.sectionSecond__titulos{
	color:#2EC1AC;
	padding: 2rem;
	
	

	
  }
.sectionSecond__titulos h2{
	font-size:350%;
	padding: 1rem;
	margin-bottom: 20 px;
	margin-right: 20 px;
  }

.sectionSecond__titulos h3{
	font-size:250%;
	padding: 1rem;
  }
.sectionEvento {
	background-image: url(./images/landing_iniciofinanzas.svg) ;
	min-height: 80vh; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	color:#3E978B;
	width: 100%;
	margin: 0 auto;
	padding: 1rem 1rem;
}
.sectionEvento__titulos {
	margin-left: 20px; 
}
.sectionEvento__titulos h2 {
	font-size:300%; 
	margin-bottom: 20px;
}
.sectionEvento__titulos h3{
	font-size:200%;	
	margin-bottom: 20px
}
.parametroPosition{width: 100%; height: 100%;}
 .sizeBody {
	font-size: 2rem;
	font-family: Mulish,sans-serif;
   font-weight: 200;
   margin-top: 8px;
   margin-bottom: 8px;

}

/* seccion clases */
.principalClases{
	background-image:url(./images/landing_clases.svg);
	height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.btn--secondary {
	background-color: #fff !important;
	color:#2EC1AC !important;
}
.subtitle {
	color: grey;
	letter-spacing: 0.1rem;
}
/* .principalClases1{
	background-image:url(./images/landing_inicioclases.svg);
	height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
} */
.principalClases__lista {
	font-size: 200%;
	font-family: Mulish; 
   font-weight: normal;
}

.principalClases ol {
	font-size: 150%;
	font-family: Mulish;
   font-weight: normal;
}
.footerBackground1 {
	background-color: #EFF48E;
	position: relative;	
	left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	height: 100px;
	display: flex;
    flex-direction: column; 
	justify-content: center;
	margin-top: 0px;
}
.index__img--clases{
	width: 100%;
	height: 100%;
	
	left: 10%;
	
}
.container__img{
	width: 100%;
	height: 100%;

}
.sectionSecond--clases { 
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-content: center;
	background-image: url("./images/landing_product1.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 1rem 1rem;
	min-height: 80vh;
	width: 100%;

}
.sectionEvento--clases {
	background-image: url(./images/landing_product2.svg) ;
	min-height: 80vh; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: flex-start;
	color:#3E978B;
	width: 100%;
	margin: 0 auto;
	padding: 1rem;
	position: relative;
}
.clases__img--evento{
	width: 85%;
	height: 85%;
	/* position: absolute; */
	/* left: 10%; */
	top: 10%;
}
.h1__default--clase{
	
	letter-spacing: 0.15rem;
	
	/* text-transform: uppercase; */
	margin-bottom: 1rem;
	/* animation: texth2 2s 1 0.5s; */

}
/* section finanzas */
.principalEventos {
	background-image: url(./images/landing_finance.svg);
	 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover; 
	display: flex;
	flex-direction: column;
	align-items:stretch;
	justify-content: center;
	padding: 2rem 1rem;
/* 	max-width: 1200px;*/ 
	margin: 0 auto;
	width: 100%;
	min-height: 80VH;
	
}


.principalEventos__titulos {
	margin-left: 20px;  
}
.principalEventos__titulos h1 {
	font-size:300%;
	margin-bottom: 1rem;
}

.principalEventos__titulos ul {
	font-size:150%;
	margin-bottom: 1rem;
}
.principalEventos__titulos ul h2{

	margin-bottom: 1rem;
}
.principalEventos__titulos span {
	font-size:200%;
	font-weight: bold;
	
}
.articulos{
	min-height: 100vh;
	height: 100%;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	background-image:url(./images/landing_iniciofinanzas.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.finanzas__background{
	
	height: 100%;
	width: 100%;
	margin: 0 auto;

}
.articulos h2 {
	margin-left: 20px;  
}
.grid{
	
	display: grid;
	grid-template-columns: repeat(3,30%);
	grid-template-rows: repeat(2,45%);
	gap:2rem;
	padding: 1rem;
	margin-left: 2rem;


}
.grid__container{
	height: 4 rem;
	width: 100%;
/* 	border-radius: 6px; */
/* 	padding: 1rem; */
}
.grid__container__img {
	width:100%;
	height: 100%;
	
}
.overlay{
	background-color: #2EC1AC;
	height: 100%;
	opacity: 0;
	z-index: 1;
	transform: translate(0%,-100%);
	transition: 0.5s ease;
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.overlay__text{
	color: #EFF48E;
	text-align: center;
	padding: 1rem;
	margin-bottom: 2rem;
}
.overlay h3 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
	text-align: center;
}
.overlay p {
	font-size: 2rem;
}
.grid__container:hover .overlay{
	opacity: 0.9;
}
#button__article{
	background-color: #2EC1AC;
	border-color: #EFF48E;
	color: #EFF48E;
	border-style: solid ;
	padding: 5px;
}

/* ARANCELES */
.cajaTabla {
	border:1 px solid #D2E603;
	border-radius: 6px;
	border-width: medium;
	padding: 1 rem;
	border-color: #D2E603;
	height: 100%;
	width: 100%;
	border-style: double;
	margin: 15px;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between; 
	width: 350px;
	margin-bottom: 1rem;
}
.principalAranceles{
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1164%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(46%2c 193%2c 172%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c529.387C103.82%2c537.955%2c208.276%2c516.308%2c299.594%2c466.178C395.041%2c413.782%2c482%2c339.818%2c526.417%2c240.407C570.671%2c141.36%2c577.895%2c24.597%2c542.75%2c-78.036C510.063%2c-173.492%2c406.053%2c-218.411%2c342.476%2c-296.757C275.962%2c-378.722%2c261.952%2c-517.48%2c161.033%2c-548.427C60.292%2c-579.319%2c-26.405%2c-462.614%2c-129.645%2c-441.532C-247.212%2c-417.524%2c-395.368%2c-500.767%2c-481.496%2c-417.219C-565.774%2c-335.465%2c-500.907%2c-190.343%2c-509.321%2c-73.229C-517.009%2c33.78%2c-575.809%2c145.056%2c-528.822%2c241.505C-481.968%2c337.68%2c-363.376%2c368.068%2c-269.416%2c419.219C-182.44%2c466.567%2c-98.693%2c521.242%2c0%2c529.387' fill='%231e7e70'%3e%3c/path%3e%3cpath d='M1440 1084.185C1539.062 1078.249 1568.1680000000001 940.202 1641.066 872.864 1697.7069999999999 820.543 1783.667 801.573 1819.73 733.417 1856.502 663.921 1834.237 581.532 1836.797 502.949 1839.971 405.499 1902.394 288.3 1836.5720000000001 216.36900000000003 1770.231 143.87 1645.867 205.515 1549.076 188.522 1466.788 174.075 1394.761 112.40300000000002 1312.063 124.28500000000003 1224.675 136.841 1153.757 196.137 1087.783 254.80200000000002 1013.829 320.563 904.21 384.632 908.071 483.52 912.087 586.39 1043.393 630.705 1105.661 712.687 1150.766 772.072 1172.943 842.4970000000001 1222.828 897.927 1287.944 970.28 1342.834 1090.008 1440 1084.185' fill='%2368dbcb'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1164'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
	min-height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	max-width: 100%;
    margin: 0 auto;
	padding: 2rem 1rem;
	
}
.principalAranceles__titulos{
	margin-bottom:3rem ;
	color: #fff;
}
.card__bold{
	font-weight: 800;
	font-size: 3rem;
}
.cajaTabla h2{
	font-size:300%;
	
}
.cajaTabla h3{
	font-size:200%;
	font-weight: bolder;
}

.div__aranceles__grid {
	max-width:1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 500px;
	min-height: 100vh;
	position: relative;
	gap: 60px;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.principalAranceles h2{
	margin: 20px;
	font-size:300%;
	
}
.principalAranceles p {
	font-size:150%;
	font-family: Mulish, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
/* NOSOTROS SECCION */
.main__nosotros{
	background: rgb(62,151,139);
	background: linear-gradient(90deg, rgba(62,151,139,1) 0%, rgba(46,193,172,1) 7%, rgba(239,244,142,1) 100%);
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
	position: relative;
	letter-spacing: 0.1rem;
	max-width: 100%;
}
.principalNosotros{
	
	min-height: 75VH; 
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: relative;
	width: 100%;
    

}
.NosotrosForm{
	
	min-height: 70VH; 
	

	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
	position: relative;
	width: 100%;
    margin: 0 auto;
	padding: 2rem 1rem;

}
.nosotros__div {

	position: relative;
/* 	margin: 20px; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:space-between ;

}

.nosotros__div h2{
	font-size:300%;
}
.nosotros__div p{
	font-size:150%;
	font-family: Mulish;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 1rem;
}
.nosotros__div legend{
	font-size:150%;
	font-family: Mulish;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	margin-left: 20px;
}
.nosotros__div iframe {
	margin-bottom: 32px;
	margin-top: 32px;
	
}
.nosotros__div__form {
	margin-bottom: 32px;
	margin-top: 32px;
	height: 200%;
	/* position: absolute;
	top:50%;
	left: 30%; */
	width: 60vh;
	height: 150%;
	
}
.nosotros__div__form--labels {
	margin-bottom: 8px;
	margin-top: 8px;
	font-size:150%;
	font-family: Mulish;
	
}
#fieldsetNosotros{
	margin-bottom: 20px;
	margin-left: 20 px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border-radius:  6px;
	border-color: #D2E603;
	/* width: 150%;
    height: 150%; */

}
.div__video{
	display: flex;
    flex-direction: column;
    align-items: center;
	width: 80vh;
    height: 50vh;
}
.video__iframe {

    object-fit: cover;
	width: 100%;
	height: 100%;
}
/* Media Querys */
/* Es importante que las medias esten al final de archivo CSS */
/* Que las medias hay que tener un orden especifico */
/* Aca trabajamos pensando en Desktop First */

/* Tablet */
@media screen and (max-width: 1024px) {
    .header {
        height: auto;
    }
        
    .header__contenedor {
        flex-direction: column;
		width: 100%;
    }
	.nav__enlace{
		padding: 0;
	}

    .principal__titulos {
        flex-direction: column;
    }

    .card {
		
       
		margin-bottom: 1rem;
		
		
    }
	.principalAranceles{
		min-height: 140vh;
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;
    	margin: 0 auto;
	}
	.cajaTabla{
		height: 50%;
		width: 80%;
	
	}
	.grid{
		grid-template-columns: repeat(1,1fr);
		grid-template-rows: repeat(6,75vh);
		gap:1rem;
		justify-content: stretch;
	}
	.sectionEvento--clases{
		flex-direction: column;
	}
	.sectionSecond--clases{
		flex-direction: column;
	}

}

/* Movil */
@media screen and (max-width: 600px) {
    .nav__lista {
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero__thumbs {
        display: none;
    }

    .principal__titulos h1 {
        font-size: 48px;
    }

    .principal__titulos h2 {
        font-size: 32px;
    }

    .principal__titulos {
        text-align: center;
    }

    .principal__imagen img {
        max-width: 200px;
    }
	.principal{
		flex-wrap: wrap
	}
	

    /* Menu lateral */
    .btn-open-sidebar {
        display: inline-block;
        background-color: #3E978B;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: #fff;
		font-size: 300%;
    }

    .nav__lista {
        background-color: #eff48e; 
        width: 100%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5s;
        z-index: 100;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .nav__item--oculto {
        display: block;
    }

    .header__contenedor {
        flex-direction: row;
		justify-content: space-between;
    }
	.navBotones {
		display: flex ;
		flex-direction: column;
	}
	 /* Fin Menu lateral */
	.div__video{
		width: 100%;
		height: 100%;
		min-height: auto;
		object-fit: cover;
	}
	.video__iframe {
		width: 100%;
		height: 100%;
	}
	.grid{
		
		grid-template-rows: repeat(6,50vh);
		
	}
	.nosotros__div__form{
		width: 100%;
	}
}
   
