*{
    margin: 0;
	padding: 0;
}
/* ELEMENTOS COMUNES */
body{
	overflow-x: hidden;
}
html{
	font-size: 62.5%;
}
.header {
    height: 100px;
    box-shadow: 0 2px 5px rgb(0 0 0 / 30%);
    padding: 1rem;
    position: relative;
	background-color: #EFF48E;
	width: 100%;
}
.header__contenedor {
    max-width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
	width: 100%;	
}
.navbar {
	display: flex;
	justify-content: flex-end;
	

}

.navBotones {
	display: flex;
	
}
.nav__lista {
	display: flex;
	justify-content: space-evenly;
	font-size: 2rem;
	margin-top: 1 rem;
	align-items:center;
	text-decoration: none;
}
.nav__item {
		margin-left: 1rem;
		text-decoration: none;

}
	
.nav__lista a:hover {
	background: #ddd;
	color: black;
	border-radius: 6px;
	text-decoration: none;
	
  }
  
.logo {
	padding: 20px;
	height: 62px;
    width: 62px;
}
.logo img {
	height: 100%;
	width: 100%;
}

#logoVerde{
	background-color: #D2E603;
	border-radius: 100px;
}
.logoLink {
	height: 100%;
	
}
.logo a:hover {
	background:#EFF48E ;
	border-radius: 10px;
	
  }
.nav__lista li {
	list-style-type: none;
	font-size: 2,5rem;
   font-family: Merriweather;
   font-weight: 200;
   margin-left: 1 rem;
   margin-right: 1rem;
   text-decoration: none;

  
}
ul {
   list-style: none; /* truco por el uso de inline-block*/
}

.btn {
   font-size: 2rem;
   margin: 5px 5px 5px 5px;
   /*top: 1 rem;   */
   /* left: 2 rem; */
   border-radius: 6px;
   padding: 8px ;
   font-family: Merriweather;
   font-weight: 200;
   margin-right: 1rem;
   margin-left: 1 rem;
}
.nav__enlace {
    color: #2EC1AC;
    text-decoration: none;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
    display: inline-block;
	font-family: merriweather, sans-serif;
}
.nav__enlace--activo {
    background-color: #2EC1AC;
    color: #fff;
    border-radius: 5px;
	padding: 6px;
	text-decoration: none;
}
/* Menu Lateral */

.btn-open-sidebar {
    display: none;
}

.nav__item--oculto {
    display: none;
}

/* Fin Menu lateral */
.footer {
	background-color: #EFF48E;
	position: relative;	
	left: 0;
    bottom: 0;
    width: 100%;
	height: 100px;
	padding: 2rem 1rem;
}
.footer__contenedor {
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.footerBackground p {
	font-size: 3rem;

}
h3 {
	font-weight: normal;
}
.footer__iconos{
	display: inline-block;

}
footer a {
	color: #2EC1AC;
}
.iconFooter {
	font-size: 300%;
}
main {
	min-height: 100vh;
}
/* INICIO */
.principal {
	background-image: url(./images/fondo1.svg) ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover; 
	display: flex;
	/* max-width: 1400px; */
    margin: 0 auto; 
    justify-content: space-between;
    align-items: center;
    position: relative;
	padding: 1rem 1rem;
	min-height: 70vh;
	width: 100%;
}
.principal__titulos{ 
	margin-left: 20px;
	
	
}
.principal__titulos h1{ 
	font-size: 500%;  /*modifica tamaño tipografico */
	font-weight:bold; 
	color:#D2E603;
}
.principal__titulos h2 { 
	font-size: 300%;
	font-weight:normal;   /*modifica tamaño tipografico */

}
h1, h2, h3, h4, h5, h6 {
	font-family: Merriweather;/* modifica familia tipografica*/ 
	text-align: left;
	font-weight: 700;
}
.principal__imagen {
    display: flex;
    justify-content: center;
	width: 100%;
	height: 100%;
	max-width: 1200px;
    /* background-repeat: no-repeat;  */
    margin: 0 auto;
	object-fit: cover;
}

.sectionSecond { 
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	background-image: url("./images/scalar2.png");
	/* Set a specific height */
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
	position: relative;
	padding: 100px 1rem;
	min-height: 70vh;
	width: 100%;
	


}

.bttnSection{
font-size: 2rem;
   margin: 20px 20px 5px 20px;
   /*top: 1 rem;   */
   /* left: 2 rem; */
   border-radius: 6px;
   padding: 8px ;
   font-family: Merriweather;
   font-weight: 200;
   margin-right: 1rem;
   margin-left: 1 rem;
   /* display: flex */;
}

.sectionSecond__titulos{
	color: #EFF48E;
	padding: 2rem;
	
	

	
  }
.sectionSecond__titulos h2{
	font-size:350%;
	padding: 1rem;
	margin-bottom: 20 px;
	margin-right: 20 px;
  }

.sectionSecond__titulos h3{
	font-size:250%;
	padding: 1rem;
  }
  /* estilos clase 5 */

.sectionEvento {
	background-color: #3E978B ;
	height: 500px; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	width: 100%;
	padding: 100px 1rem;

}
.sectionEvento__titulos {
	margin-left: 20px; 
}
.sectionEvento__titulos h2 {
	font-size:300%; 
	margin-bottom: 20px;
}
.sectionEvento__titulos h3{
	font-size:200%;	
	margin-bottom: 20px
}
.parametroPosition{width: 100%; height: 100%;}
 .sizeBody {
	font-size: 2rem;
	font-family: Merriweather,sans-serif;
   font-weight: 200;
   margin-top: 8px;
   margin-bottom: 8px;

}


/* seccion clases */
.principalClases{
	background-color: #2EC1AC;
	height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.principalClases ul {
	font-size: 300%;
	font-family: Merriweather; 
   font-weight: 300;
}

.principalClases ol {
	font-size: 200%;
	font-family: Merriweather;
   font-weight: normal;
}
.footerBackground1 {
	background-color: #EFF48E;
	position: relative;	
	left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
	height: 100px;
	display: flex;
    flex-direction: column; 
	justify-content: center;
	margin-top: 0px;
}
/* section eventos */
.principalEventos {
	background-color: #3E978B;
	height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items:stretch;
	justify-content: center;
}

.principalEventos__titulos {
	margin-left: 20px;  
}
.principalEventos__titulos h2 {
	font-size:300%;
}
.principalEventos__titulos h3 {
	font-size:200%;
}
.principalEventos__titulos ul {
	font-size:150%;
}
.principalEventos__titulos span {
	font-size:200%;
	font-weight: bold;
}

/* ARANCELES */
.cajaTabla {
	border:1 px solid #D2E603;
	border-radius: 6px;
	border-width: medium;
	padding: 1 rem;
	border-color: #D2E603;
	height: 100%;
	width: 100%;
	border-style: double;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content: space-between; 
	width: 500px;
}
.principalAranceles{
	background-color: #2EC1AC;
	height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	max-width: 100%;
    margin: 0 auto;
	padding: 2rem 1rem;
	
}
.cajaTabla h2{
	font-size:300%;
	
}
.cajaTabla h3{
	font-size:200%;
	font-weight: bolder;
}

.div__aranceles__grid {
	max-width:1200px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 500px;
	min-height: 100vh;
	position: relative;
	gap: 60px;
	align-content: center;
	justify-content: center;
}
.principalAranceles h2{
	margin-top: 20px;
	font-size:300%;
	margin-left: 20px;
}
.principalAranceles p {
	font-size:150%;
	font-family: Merriweather, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
}
/* NOSOTROS SECCION */
.principalNosotros{
	background-color: #2EC1AC;
	height: 100VH; 
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.nosotros__div {

	position: relative;
	margin: 20px;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content:space-between ;
}
.nosotros__div h2{
	font-size:300%;
}
.nosotros__div p{
	font-size:150%;
	font-family: Merriweather;
	margin-top: 20px;
	margin-bottom: 20px;
}
.nosotros__div legend{
	font-size:150%;
	font-family: Merriweather;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	margin-left: 20px;
}
.nosotros__div iframe {
	margin-bottom: 32px;
	margin-top: 32px;
}
.nosotros__div form {
	margin-bottom: 32px;
	margin-top: 32px;
	height: 200%;
	
}
.nosotros__div__form--labels {
	margin-bottom: 8px;
	margin-top: 8px;
	font-size:150%;
	font-family: Merriweather;
	
}
#fieldsetNosotros{
	margin-bottom: 20px;
	margin-left: 20 px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	border-radius:  6px;
	border-color: #D2E603;

}
/* Media Querys */
/* Es importante que las medias esten al final de archivo CSS */
/* Que las medias hay que tener un orden especifico */
/* Aca trabajamos pensando en Desktop First */

/* Tablet */
@media screen and (max-width: 1024px) {
    .header {
        height: auto;
    }
        
    .header__contenedor {
        flex-direction: column;
    }

    .principal__titulos {
        flex-direction: column;
    }

    .div__aranceles__grid {
		
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 2rem);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		justify-content: stretch;
		gap: 8px;
		max-width: 100%;
    	margin: 0 auto;
		
    }
	.principalAranceles{
		min-height: 140vh;
		justify-content: flex-start;
		width: 100%;
		max-width: 100%;
    	margin: 0 auto;
	}
	.cajaTabla{
		height: 50%;
		width: 80%;
	
	}

}

/* Movil */
@media screen and (max-width: 600px) {
    .nav__lista {
        flex-wrap: wrap;
        gap: 20px;
    }

    .hero__thumbs {
        display: none;
    }

    .principal__titulos h1 {
        font-size: 48px;
    }

    .principal__titulos h2 {
        font-size: 32px;
    }

    .principal__titulos {
        text-align: center;
    }

    .principal__imagen img {
        max-width: 200px;
    }
	.principal{
		flex-wrap: wrap
	}
	

    /* Menu lateral */
    .btn-open-sidebar {
        display: inline-block;
        background-color: #3E978B;
        border-radius: 5px;
        padding: 0.5rem 1rem;
        color: #fff;
		font-size: 300%;
    }

    .nav__lista {
        background-color: #eff48e; 
        width: 100%;
        max-width: 400px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;
        transition: transform 0.5s;
        z-index: 100;
    }

    #sidebar:target {
        transform: translateX(0);
    }

    .nav__item--oculto {
        display: block;
    }

    .header__contenedor {
        flex-direction: row;
		justify-content: space-between;
    }
.navBotones {
	display: flex ;
	flex-direction: column;
	}
}
    /* Fin Menu lateral *